.circle {
    width: 100%;
    position: relative;
    background-color: blue;
    border-radius: 50%;
    overflow: hidden;
}

.circle::before {
    content: "";
    display: block;
    padding-top: 100%; /* Tinggi akan sama dengan lebar */
}

.initial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 125px;
}
